APP_ENV="dev"
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_REALM=
KEYCLOAK_URL=
POSTGRES_HOSTNAME=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_USERNAME=
POSTGRES_DATABASE=
REDIS_HOST=
REDIS_PORT=
