APP_ENV=

# keycloak
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_REALM=
KEYCLOAK_URL=

# postgres
POSTGRES_HOSTNAME=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_USERNAME=
POSTGRES_DATABASE=

# redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_TTL=
