# Environment
APP_ENV=dev   # "prod" for production

# postgres
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

#keycloak
KC_REALM=
KC_CLIENT_ID=
KC_BASEURL="http://keycloak:8080"
KC_CLIENT_SECRET=

#ghost
GHOST_URL="http://ghost:2368"
GHOST_CONTENT_API_KEY=
GHOST_ADMIN_API_KEY=
