# Environment
APP_ENV=

# postgres
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

#keycloak
KC_REALM=
KC_CLIENT_ID=
KC_BASEURL=
KC_CLIENT_SECRET=

#ghost
GHOST_URL=
GHOST_CONTENT_API_KEY=
GHOST_ADMIN_API_KEY=

# texx.digital
TEXX_URL=

# bitrix24
BITRIX24_URL=

# redis
REDIS_ADDRESS=
REDIS_PASSWORD=
REDIS_TTL=

# ai_chat
AI_CHAT_BASE_URL=
AI_CHAT_MODEL=
AI_CHAT_CONVERSATION_TITLE_PROMPT=
AI_CHAT_ABSENCE_PROMPT=
